<% content_for :title do %>
  協賛企業 - ダウンロード履歴
<% end %>

<style>
  table, th, td {
    border-width: thin;
    border-style: solid;
  }
  th {
    font-weight: bold;
  }
</style>

<h2>ダウンロードログ</h2>
<div>
  <table>
    <tr>
      <th>タイムスタンプ</th>
      <th>素材タイトル</th>
      <th>ユーザID</th>
      <th>本名</th>
    </tr>
    <% @downloads.each do |dl| %>
    <tr>
      <td><%= dl.created_at %></td>
      <td>
	<% if dl.material_object %>
	<%= dl.material_object.material_name %>
	<% else %>
	不明
	<% end %>
      </td>
      <td>
	<% if dl.user %>
	<%= dl.user.handle_name %>
	<% else %>
	不明
	<% end %>
      </td>
      <td>
	<% if dl.user %>
	<%= dl.user.name %>
	<% else %>
	不明
	<% end %>
      </td>
    </tr>
    <% end %>
  </table>
</div>

<h2>ダウンロードカウント</h2>
<div>
  <table>
    <tr>
      <th>対象物</th>
      <th>回数</th>
    </tr>
    <% @downloads_count.each do |material_name, count| %>
    <tr>
      <td><%= material_name %></td>
      <td><%= count %></td>
    </tr>
    <% end %>
  </table>
</div>
