<div class="links">
  <span>ユーザ一覧 / <%= link_to "作品一覧", :controller => :accounts, :action => :show_works %> / <%= link_to "ダウンロード", :controller => :accounts, :action => :show_downloads %></span>
</div>

<h2>ユーザ一覧</h2>
<div>
  <table>
    <tr>
      <th>ユーザ名</th>
      <th>名前</th>
      <th>Twitter ID</th>
      <th>メールアドレス</th>
      <th>操作</th>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.handle_name %></td>
      <td><%= user.name %></td>
      <td><%= user.twitter_id %></td>
      <td><%= user.email %></td>
      <td>
	<%= link_to "編集", :controller => :accounts, :action => :edit_user, :_id => user._id %>
	/
	<%= link_to "削除", {:controller => :accounts, :action => :delete_user, :_id => user._id}, {:class => :user_delete} %>
      </td>
    </tr>
    <% end %>
  </table>
</div>

<script>
  $('a.user_delete').click(function() {
    if (confirm("ユーザを削除します、よろしいですか？")) {
      return true;
    } else {
      return false;
    }
  });
</script>
